body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

h1 {
    font-size: 2.5rem;
}

textarea {
    resize: none;
}

button {
    width: 100%;
}

.input-group-text {
    background-color: #007bff;
    color: #fff;
}

textarea[readonly] {
    background-color: #e9ecef;
}